<?xml version="1.0"?>
<launch>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch"/>

    <node pkg="offb_ibvs" type="offb_ibvs_node" name="offb_ibvs_node" output="screen">
        
        <param name="yaw_init" value="60" />
        <param name="z_init" value="3" />
        <!--
        <rosparam>
            yaw_init: 30
            z_init: 3
        </rosparam>
        -->
    </node>


</launch>
